<h2>Learn Code the Hard Way</h2>
<p>These are all the exercises I have completed through
	the site http://ruby.learncodethehardway.org/
	It's a great way to get up on Ruby code. 
	The main key is repetition. 
</p>